{% extends aman.page_name %}
{% block extralinks %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'css/p.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'js/complete-validation.js' %}"></script>

{% endblock extralinks %}
{% block content %}
<section class="main-content">
    <section class="table-content">
        <div class="for-btn">
            <h2>Depot Details Form</h2>
            <a href="{% url 'Depot_Service' %}"> <button class="add-new"><i
                        class="fa-solid fa-xmark"></i>&nbsp;Close</button></a><br>
        </div>
        <div class="table-content-div">
            <form method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        <td >
                            <label style="display:block;">Depot Id<font style="color:red;">*</font></label>
                            <input type="text" required value="{{dipo_id}}" name="did" id="usrid" placeholder="Depot Id" style="color:black">
                            <span></span>
                        </td>
                        <td>
                            <label>Principal Comapany Name<font style="color:red;">*</font></label>
                            <input type="text" id="name" name="pre-com-name" required
                                style="text-transform: capitalize;" placeholder="Principal Comapany Name"
                                onfocus="alphabets('#name')">
                            <span></span>
                            {% comment %} <select name="pri-com-name" id="">
                                <option value="" selected>TransExpress</option>
                            </select>
                            <span></span> {% endcomment %}
                        </td>
                        <td>
                            <label>Operational Comapany Name<font style="color:red;">*</font></label>
                            {% comment %} <input type="text" id="name" name="dmanager-name"
                                style="text-transform: capitalize;" placeholder="Principal Comapany Name"
                                onfocus="alphapets('#name')">
                            <span></span> {% endcomment %}
                            <select name="ope-com-name" id="" required>
                                <option value="" disabled selected>Select Operational Comapany Name</option>
                                <option value="TransExpress" >TransExpress</option>
                                
                            </select>
                            <span></span>
                        </td>


                    </tr>
                    <tr>
                        <td>
                            <label>Depot Manager Name<font style="color:red;">*</font></label>
                            <input type="text" id="d-man-name" required name="dmanager-name"
                                style="text-transform: capitalize;" placeholder="Depot Manager Name"
                                onfocus="alphabets('#d-man-name')">
                            <span></span>
                        </td>
                        <td>
                            <label>Depot Manager Mobile No.<font style="color:red;">*</font></label>
                            <input type="text" name="dmanager-no" required id="mob" minlength="10" maxlength="10"
                                onfocus="number('#mob')" placeholder="Depot Manager Mobile No." >
                            <span></span>
                        </td>
                        <td>
                            <label class="optional">Depot Mobile No.</label>
                            <input type="text" name="depot-no" minlength="10" maxlength="10"  id="depotmob"
                                 placeholder="Depot Mobile Number(Optional)" onfocus="optional('#depotmob')"
                                >
                                <span></span>
                        </td>


                    </tr>

                    <tr>
                        <td >
                            <label>Depot Telephone No.</label>
                            <input type="text" name="depot-tno" id="tele-phone"
                                placeholder="Depot Telephone No.(Optional)" minlength="10" maxlength="10" onfocus="optional('#tele-phone')">
                                <span></span>
                        </td>

                        <td>
                            <label> State<font style="color:red;">*</font></label>

                            <select name="state" id="myst" required>
                                <option value="" selected disabled>----- Select Any State -----</option>
                                    <option value="Andhra Pradesh">Andhra Pradesh</option>
                                    <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                                    <option value="Assam">Assam</option>
                                    <option value="Bihar">Bihar</option>
                                    <option value="Chandigarh">Chandigarh</option>
                                    <option value="Chattisgarh">Chattisgarh</option>
                                    <option value="Delhi">Delhi</option>
                                    <option value="Goa">Goa</option>
                                    <option value="Gujarat">Gujarat</option>
                                    <option value="Haryana">Haryana</option>
                                    <option value="Himachal Pradesh">Himachal Pradesh</option>
                                    <option value="jammu & Kashmir">Jammu & Kashmir</option>
                                    <option value="Jharkhand">Jharkhand</option>
                                    <option value="Karnataka">Karnataka</option>
                                    <option value="Kerala">Kerala</option>
                                    <option value="Lakshadweep">Lakshadweep</option>
                                    <option value="Madhya Pradesh">Madhya Pradesh</option>
                                    <option value="Maharashtra">Maharashtra</option>
                                    <option value="Manipur">Manipur</option>
                                    <option value="Meghalaya">Meghalaya</option>
                                    <option value="Mizoram">Mizoram</option>
                                    <option value="Odisha">Odisha</option>
                                    <option value="Punjab">Punjab</option>
                                    <option value="Rajasthan">Rajasthan</option>
                                    <option value="Sikkim">Sikkim</option>
                                    <option value="Tamil Nadu">Tamil Nadu</option>
                                    <option value="Telangana">Telangana</option>
                                    <option value="Tripura">Tripura</option>
                                    <option value="Uttar Pradesh">Uttar Pradesh</option>
                                    <option value="Uttarakhand">Uttarakhand</option>
                                    <option value="West Bengal">West Bengal</option>
                                    <option value="Andaman & Nicobar">Andaman & Nicobar</option>
                                    <option value="Dadra & Nagar Haveli and Daman & Diu">Dadra & Nagar Haveli and Daman
                                        & Diu</option>
                                    <option value="Pondicherry">Pondicherry</option>
                                    <option value="Nagaland"> Nagaland</option>

                            </select>
                            <span></span>
                        </td>
                        <td>
                            <label> District<font style="color:red;">*</font></label>
                            <select name="district" id="mydist" disabled>
                                <option value="" selected disabled>------Select Any District------</option>
                                <option value="Bihar">Bihar</option>
                            </select>
                                <span></span>
                        </td>



                    </tr>
                    <tr>


                    </tr>
                    <tr>
                        <td colspan="2">
                            <label style="top:.7rem; left:2.5rem">Address<font style="color:red;">*</font></label>
                           
                            <input type="text"  id="adrs" placeholder="flat/street/landmark"
                                required  name="address" >
                            <span></span>
                        </td>
                        <td>
                            <label>GST No.<font style="color:red;">*</font></label>
                            <input type="text" name="gst-no" id="gst" required minlength="15" placeholder="GST No."
                                onfocus="Gstno('#gst')" 
                                style="text-transform: uppercase;">
                            <span></span>
                        </td>

                    </tr>
                    <tr>
                        <td colspan="3" align="center">
                            <input type="Submit" class="entry-button" value="&#10003; Submit">
                            <input type="button"  class="entry-button" id="resetbutton" onclick="window.location.reload()" style="background-color:#EA5453;margin-left:3rem;"
                                value="↻ Refresh">
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </section>

</section>
{% if messages %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
{% for msg in messages %}
{% if msg.tags == 'success' %}
<script>
    Swal.fire({
        icon: '{{msg.tags}}',
        title: '{{msg}}',
        showConfirmButton: true,
        confirmButtonClass: 'btn btn-success'
    });
</script>
{% endif %}
{% endfor %}
{% endif %}

<script>
    $('select[name="state"]').change(function () {
        $.ajax({
            method: 'GET',
            url: "/fghevbn/ajaxcall/",
            dataType: "json",
            data: {
                'cond':'state',
                'uname': $(this).val(),
            },
            success: function (response) {
                if (response == 'None') {
                    sweetAlert("Warning!", 'There is no record of mode available for ' + uname + '', "warning");
                }
                else {
                    $('select[name="district"]').html(response);
                }
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    });
    $(function () {
        $('#myst').change(function(){ 
            
            if($(this).val() !== ""){
                $('#mydist').prop('disabled', false); 
            } else {
                $('#mydist').prop('disabled', true);
            }
        });
    });
</script>
{% endblock content %}