{% extends aman.page_name %}
{% block extralinks %}
{% load static %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'css/p.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="{% static 'js/complete-validation.js' %}"></script>
{% endblock extralinks %}
{% block content %}
<section class="table-content">
    <div class="for-btn">
        <h2>Driver Payment Form</h2>
            <a href="{% url 'driver_payment' %}"> <button class="add-new"><i class="fa-solid fa-xmark"></i>&nbsp;Close</button></a><br>
    </div>
        <div class="table-content-div">
            <form method="post">
                {% csrf_token %}
                <table>
                    <tr>
                        {% comment %} <td>
                            <label></label>
                            <select name="vech_name" id="optionField">
                                <option value="" selected>------ Select Vehicle Number ------</option>
                                
                            </select>
                            <span></span>
                        </td> {% endcomment %}
                        <td>
                            <label>Driver Name</label>
                            <select id="optionField" name="drv_nm">
                                <option value="" selected>------ Select Driver Name ------</option>
                                {% for x in data %}
                                  <option value="{{x.drv_nme}}">{{x.drv_nme}}</option>
                                {% endfor %}
                                
                            </select>
                            <span></span>
                        </td>
                        <td>
                            <label for="" style="display: block;">Salary Month<font style="color:red;">*</font></label>
                            <input type="Month" name="sal_month" id="month" placeholder="Salary Month">
                            <span></span>
                        </td>
                        <td>
                            <label for="">Amount<font style="color:red;">*</font></label>
                            <input type="text" name="dr_sal_amount" id="Amount" placeholder="Amount"
                                onfocus="price('#Amount')">
                            <span></span>
                        </td>
                    </tr>
                    <tr>
                        <td align="left">
                            <label>Payment Mode<font style="color: red">*</font></label>
                            <div style="display:flex;justify-content:space-evenly;">
                                <div style="cursor: pointer;" class="pay-mode"><input type="radio" name="pay_mode" value="NEFT"  id="" checked /> NEFT</div>
                                <div style="cursor: pointer;" class="pay-mode"><input type="radio" name="pay_mode" value="UPI" id="" /> UPI</div>
                                <div style="cursor: pointer;" class="pay-mode"><input type="radio" name="pay_mode" value="Cash " id="" /> Cash </div>
                                <div style="cursor: pointer;" class="pay-mode"><input type="radio" name="pay_mode" value="Cheque" id="" /> Cheque </div>
                            </div>
                            <span></span>
                          </td>
                          <td>
                            <label for="">Balance Amount<font style="color:red;">*</font></label>
                            <input type="text" name="pay_bal_amt" id="pay_bal_amt" placeholder="Balence Amount"
                                onfocus="price('#pay_bal_amt')">
                            <span></span>
                        </td>
                        <td>
                            <label for="" style="display: block;">Payment Date<font style="color:red;">*</font></label>
                            <input type="date" name="pay_date"class="date" id="dpd">
                            <span></span>
                        </td>



                    </tr>
                    <tr>
                        <td colspan="3" align="center">
                            <input type="submit" class="entry-button" value="&#10003; Submit">
                            <input type="reset" class="entry-button" style="background-color:#EA5453;margin-left:3rem;"
                                value="↻ Refresh">
                        </td>

                    </tr>
                    <tr hidden>
                        <td><input type="text" id="depotname" name="depo_id"></td>
                    </tr>
                </table>
            </form>
        </div>
</section>
<script>
    $(document).ready(function () {
        let value = sessionStorage.getItem('depot_Name')
        $('#depotname').val(value);
    });
    $(document).ready(function() {
        
      $('.pay-mode').click(function() {
        $(this).find('input[type="radio"]').prop('checked', true);
      });
    });
    </script>

{% if messages %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
{% for msg in messages %}
{% if msg.tags == 'success' %}
<script>
    Swal.fire({
        icon: '{{msg.tags}}',
        title: '{{msg}}',
        showConfirmButton: true,
        confirmButtonClass: 'btn btn-success'
    });
</script>
{% endif %}
{% endfor %}
{% endif %}
{% endblock content %}