.dimg {

    /* margin: 5rem auto 5rem auto; */
    border: 1px solid black;
    margin: auto;
    /* margin-top: 5rem; */
    width: 12rem;
    border-radius: 50%;
    /* background-color: rgb(18, 18, 56); */
    cursor: pointer;
    /* background-color: rgb(39, 39, 87); */

    /* z-index: 1; */
    height: 12rem;
    
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}